<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Vue.js Tutorial | Computed Properties</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>

  <body>
    <div id="app" class="container">
         <div class="row">
           First Name: <strong v-text="firstname"></strong>
         </div>
        <div class="row">
           Last Name: <strong v-text="lastname"></strong>
         </div>
          <div class="row">
           Full Name: <strong>{{fullname}}</strong>
         </div>
       <div class="row">
         <div class="col-sm-4">
           FirstName:
           <input type="text" class="form-control-sm" v-model="firstname">
         </div>
         <div class="col-sm-4">
           LastName:
           <input type="text" class="form-control-sm" v-model="lastname">
         </div>
         <div class="col-sm-4">
           FullName:
           <input type="text" v-model="fullname">
         </div>
       </div>

    </div>
  </body>

  <script src="https://unpkg.com/vue@2.0.3/dist/vue.js"></script>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        firstname: '',
        lastname: '',
          length:0,
          head:''

      },
      computed: {
        fullname: {
            get: function () {
                var result = this.firstname;
                if (this.lastname != '')
                    result += ' ' + this.last;
                return result;
            },
            set: function (value) {
                var name = value.split(' ');
                this.firstname = name[0];
                if (name.length > 1)
                    this.lastname = name[name.length - 1];
            }
        }
       },
        methods:{
           call()
           {
              head=name[this.length];
              alert(head);
           }
        }
    })
  </script>
</html>
